@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --nav-height: 4.8rem;
  }

  html {
    @apply bg-background font-sans text-white-200;
    font-size: 62.5%;
  }
}

@layer utilities {
  .highlight-primary {
    @apply [&_.highlight]:ml-2;
  }

  .highlight-secondary {
    @apply [&_.highlight]:bg-white-100 [&_.highlight]:rounded-full [&_.highlight]:px-2 [&_.highlight]:ml-2 [&_.highlight]:-mr-2;
  }

  .navigation {
    @apply fixed top-nav-height left-0 h-[calc(100vh_-_var(--nav-height))] w-full overflow-auto bg-background transition-opacity duration-500 md:relative md:top-0 md:block md:h-auto md:w-auto md:translate-x-0 md:overflow-hidden md:bg-transparent md:opacity-100 md:transition-none;
  }

  .text-gradient {
    background: linear-gradient(
      to right bottom,
      rgb(255, 255, 255) 30%,
      rgba(255, 255, 255, 0.38)
    );
    background-clip: text;
    color: transparent;
  }

  .text-shadhow {
    text-shadow: rbg(0 0 0 / 56%) 0px 3px 12px;
  }
}
